.container{
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

#geoLocation{
    margin-bottom: 15px;
    position: fixed;
    bottom: 0; 
    width:100%;
}

.button {
    background-color: rgb(0, 69, 244); 
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px
  }
